.change-password-container {
  margin-top: 1.5rem;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-body {
  padding: 2rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn {
  width: 80%;
  margin-top: 1rem;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}
