<div class="filters">
  <app-searchbar textoplaceholder="Busca tu actividad"
                (searchChanged)="searchHandler($event)"></app-searchbar>
  <app-main-filter (valuesChangedInFilter)="getValues($event)"title="por entrada"></app-main-filter>
</div>

<group-cardgroup>
  @for (activity of filteredActivities.length > 0 ? filteredActivities : activities; track activity.name) {
    <app-cardmain
      starcount="4"
      [sourceimage]="activity.imagePath"
      [title]="activity.name"
      [ubicacion]="activity.location"
      [descripcion]="activity.description"
      [price]="activity.price"
      tipo="restaurant"
      buttontext="Seleccionar">
    </app-cardmain>
  }
  @empty {
    <p>Cargando...</p>
  }
</group-cardgroup>
