<!--  Acá el código visual en html de la sección Alojamientos  -->

<app-searchbar textoplaceholder="Busca entre las opciones.."
               (searchChanged)="searchHandler($event)"></app-searchbar>
<group-cardgroup>
  @for (accommodation of filteredAccomodations.length > 0 ? filteredAccomodations : accomodations; track accommodation.nombre) {

      <app-cardmain
        [maxWidth]="50"
        [maxHeight]="30"
        starcount="0"
        [sourceimage]="accommodation.imagen"
        [title]="accommodation.nombre"
        [descripcion]="accommodation.datosAdicionales ? accommodation.datosAdicionales : ''"
        buttontext="Seleccionar">
      </app-cardmain>

  } @empty {
    <p>Cargando... (Esto podría tardas unos segundos)</p>
  }
</group-cardgroup>














