<!--  Acá el código visual en html de la sección Alojamientos  -->
<app-searchbar textoplaceholder="Selecciona tu ubicación"></app-searchbar>
<group-cardgroup>
  <app-cardmain
    [maxWidth]="50"
    starcount="5"
    sourceimage="https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png"
    title="Basilisca y Convento de Santo Domingo"
    price="$543"
    ubicacion="a 1.6km del centro"
    descripcion="
  La Basílica de la Asunción de Nuestra Señora, comúnmente conocida como Basílica de Santo Domingo,
   es un magnífico ejemplo del barroco mexicano en Oaxaca, México. Construida en el siglo XVI sobre
    un templo prehispánico, su fachada ostenta una rica ornamentación y esculpidas imágenes religiosas
    En su interior, destaca el altar mayor, decorado con láminas de oro y valiosas obras de arte sacro.
    Junto a la basílica se encuentra el Convento de Santo Domingo, un complejo arquitectónico de gran
     belleza y relevancia histórica, que alberga un impresionante claustro adornado con azulejos de Talavera.."
    buttontext="Seleccionar">
  </app-cardmain>
  <app-cardmain
    [maxWidth]="50"
    starcount="4"
    sourceimage="https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png"
    title="Basilisca y Convento de Santo Domingo"
    price="$543"
    ubicacion="a 1.6km del centro"
    descripcion="
  La Basílica de la Asunción de Nuestra Señora, comúnmente conocida como Basílica de Santo Domingo,
   es un magnífico ejemplo del barroco mexicano en Oaxaca, México. Construida en el siglo XVI sobre
    un templo prehispánico, su fachada ostenta una rica ornamentación y esculpidas imágenes religiosas
    En su interior, destaca el altar mayor, decorado con láminas de oro y valiosas obras de arte sacro.
    Junto a la basílica se encuentra el Convento de Santo Domingo, un complejo arquitectónico de gran
     belleza y relevancia histórica, que alberga un impresionante claustro adornado con azulejos de Talavera.."
    buttontext="Seleccionar">
  </app-cardmain>
  <app-cardmain
    [maxWidth]="50"
    starcount="1"
    sourceimage="https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png"
    title="Basilisca y Convento de Santo Domingo"
    price="$543"
    ubicacion="a 1.6km del centro"
    descripcion="
  La Basílica de la Asunción de Nuestra Señora, comúnmente conocida como Basílica de Santo Domingo,
   es un magnífico ejemplo del barroco mexicano en Oaxaca, México. Construida en el siglo XVI sobre
    un templo prehispánico, su fachada ostenta una rica ornamentación y esculpidas imágenes religiosas
    En su interior, destaca el altar mayor, decorado con láminas de oro y valiosas obras de arte sacro.
    Junto a la basílica se encuentra el Convento de Santo Domingo, un complejo arquitectónico de gran
     belleza y relevancia histórica, que alberga un impresionante claustro adornado con azulejos de Talavera.."
    buttontext="Seleccionar">
  </app-cardmain>
  <app-cardmain
    [maxWidth]="50"
    starcount="2"
    sourceimage="https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png"
    title="Basilisca y Convento de Santo Domingo"
    price="$543"
    ubicacion="a 1.6km del centro"
    descripcion="
  La Basílica de la Asunción de Nuestra Señora, comúnmente conocida como Basílica de Santo Domingo,
   es un magnífico ejemplo del barroco mexicano en Oaxaca, México. Construida en el siglo XVI sobre
    un templo prehispánico, su fachada ostenta una rica ornamentación y esculpidas imágenes religiosas
    En su interior, destaca el altar mayor, decorado con láminas de oro y valiosas obras de arte sacro.
    Junto a la basílica se encuentra el Convento de Santo Domingo, un complejo arquitectónico de gran
     belleza y relevancia histórica, que alberga un impresionante claustro adornado con azulejos de Talavera.."
    buttontext="Seleccionar">
  </app-cardmain>
</group-cardgroup>
