<!--  Acá el código visual en html de la sección Alojamientos  -->
<app-searchbar textoplaceholder="Selecciona tu ubicación"></app-searchbar>

<p>Contenido de la sección de alojamiento</p>

<app-cardmain
  [maxWidthimg]="200"
  [maxHeightimg]="250"
  [maxWidth]="50"
  starcount="5"
  sourceimage="https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png"
  title="Basilisca y Convento de Santo Domingo"
  ubicacion="Ubicación del card"
  descripcion="Descripción del card"
  buttontext="Texto del botón">
</app-cardmain>
