
  .card {
    width: 500px;
    height: 40vh; /* aumentado de 36vh a 40vh */
    border-radius: 20px;
    color: black;
  }

  .card h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .card h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  .card ul li {
    margin-bottom: 10px;
  }

  .button {
    background-color: #3A6CEC;
    width: 40%;
    font-size: 20px; /* reducido de 30px a 20px */
    border-radius: 50px;
    height: 6vh; /* reducido de 8vh a 6vh */
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
  }

  .button:hover {
    transform: scale(1.05);
  }

