.cardsection {
  margin-top: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4vw;
  width: 100%; /* Añade esto para que el contenedor ocupe todo el ancho disponible */
}
