mat-form-field {
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

mat-form-field .mat-select-value,
mat-form-field .mat-select-trigger,
mat-option {
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  mat-form-field {
    flex-direction: column;
    margin-top: 10px;
  }
}
