.filter-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .dropdown-filter {
    margin-top: 20px; /* Ajusta este valor según tus necesidades */
    align-items: stretch;
  }

  mat-form-field {
    width: 100%;
  }
}
