
<form (submit) = "onSubmit()" #restaurantForm='ngForm'>
  <mat-form-field>
    <input matInput placeholder="Nombre" name="nombre" required [(ngModel)]="resturantsData.name">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="imagen" name="imagen" required [(ngModel)]="resturantsData.imagePath">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Descripcion" name="locationCost" required [(ngModel)]="resturantsData.locationCost">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Precio" name="mustTry" required [(ngModel)]="resturantsData.mustTry">
  </mat-form-field>


  <!-- Botones para actualizar o cancelar la edición de una estudiante-->
  @if(isEditMode){
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>

  }
  @else{
    <button mat-raised-button color="primary">Add</button>
  }

  <div class="row">
    <button mat-raised-button color="warn" routerLink="/admin/accommodationCrud">Alojamientos</button>
    <button mat-raised-button color="warn" routerLink="/admin/flightsCrud">Vuelos</button>
    <button mat-raised-button color="warn" routerLink="/admin/activitiesCrud">Actividades</button>
    <button mat-raised-button color="warn" routerLink="/admin/restaurantsCrud">Restaurantes</button>
  </div>

</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- age Column -->
  <ng-container matColumnDef="imagen">
    <th mat-header-cell *matHeaderCellDef> imagen </th>
    <td mat-cell *matCellDef="let element"><img [src]="element.imagen" alt="restaurant" style="max-width: 100px; max-height: 100px;"></td>
  </ng-container>


  <ng-container matColumnDef="locationCost">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.locationCost}} </td>
  </ng-container>


  <ng-container matColumnDef="mustTry">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.mustTry}} </td>
  </ng-container>



  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editItem(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteItem(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="showDeleteSuccessMessage" class="success-message">
  <p>Se eliminó la actividad con éxito</p>
</div>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>


