<div class="main">
  <div class="button-container">
    <button mat-stroked-button><span>Regresar al filtro</span></button>
    <button (click)="vistaSigin()"><span>Log out</span></button>
  </div>


@if (usuario) {
  <div class="container">
    <div class="card-container">
      <h1>Email:</h1>
      <mat-card class="card">
        <mat-card-content>{{usuario.username}}</mat-card-content>
      </mat-card>
      <h1>Plan</h1>
      <mat-card class="card">
        <mat-card-content>{{usuario.roles}}</mat-card-content>
      </mat-card>
      <button mat-stroked-button class="plan-button" (click)="MostrarPlanes()"><span>Obtener otro plan</span></button>
    </div>
    <div class="actions-container">

      <button class="action-button"><span>Eliminar cuenta</span></button>
      @if (isAdmin()) {
        <button class="action-button" (click)="vistaAdmin()"><span>Vista administrador</span></button>
      }

      <button class="action-button" (click)="vistaChangeEmail()"><span>Cambiar Email</span></button>

      <button class="action-button" (click)="vistaForgotPassword()"><span>Cambiar contraseña</span></button>
    </div>
  </div>
}

</div>

