<div class="main">
  <div class="button-container">
    <button mat-stroked-button><span>Regresar al filtro</span></button>
    <button (click)="vistaSigin()"><span>Log out</span></button>
  </div>


@if (selectedUser) {
  <div class="container">
    <div class="card-container">
      <h1>Nombre</h1>
      <mat-card class="card">
        <mat-card-content>{{selectedUser.nombre}}</mat-card-content>
      </mat-card>
      <h1>Plan</h1>
      <mat-card class="card">
        <mat-card-content>{{selectedUser.plan}}</mat-card-content>
      </mat-card>
      <button mat-stroked-button class="plan-button" (click)="MostrarPlanes()"><span>Obtener otro plan</span></button>
    </div>
    <div class="actions-container">
      <button class="action-button"><span>Cambiar Email</span></button>
      <button class="action-button"><span>Olvidé mi contraseña</span></button>
      <button class="action-button"><span>Eliminar cuenta</span></button>
      <button class="action-button" (click)="vistaAdmin()"><span>Vista administrador</span></button>
    </div>
  </div>
}

</div>

