<div class="container-form">
<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
  <h2>TripMate</h2>

  <mat-form-field>
    <input matInput formControlName="cardNumber" placeholder="Número de tarjeta">
  </mat-form-field>
  <div class="date-cvv">
  <mat-form-field>
    <input matInput formControlName="expirationDate" placeholder="MM/AA">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="cvv" placeholder="CVV">
  </mat-form-field>
  </div>
  <div class="fullName">
  <mat-form-field>
    <input matInput formControlName="firstName" placeholder="Nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="Apellidos">
  </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <button mat-raised-button class="button-form" type="button" (click)="onSubmitButton()">Pagar</button>
</form>

  <div class="banks">
    <img [src]="'https://static.vecteezy.com/system/resources/thumbnails/020/975/572/small_2x/visa-logo-visa-icon-transparent-free-png.png'" alt="Banco 1">
    <img [src]="'https://cdn.freebiesupply.com/logos/large/2x/mastercard-6-logo-png-transparent.png'" alt="Banco 2">
    <img [src]="'https://www.yape.com.pe/assets/images/logo.png'" alt="Banco 3">
  </div>

</div>
