<div class="contenedor active" id="contenedor">
  <div id="background"></div>

  <div class="container">
    <div class="registration">
      <h2 class="title">Registro</h2>
      <p class="description">Completa el formulario para registrarte.</p>

      <div class="form-group">
        <div class="label-container">
          <label for="email">Correo electrónico:</label>
        </div>
        <input type="email" id="email" placeholder="Ingresa tu correo electrónico" [(ngModel)]="register.email" name="email">
        @if (emailError) {
          <span class="error-message">Ingrese un correo electrónico válido.</span>
        }
        @if (emailExistsError){
          <span class="error-message" *ngIf="emailExistsError">{{ emailExistsError }}</span>
        }
      </div>

      <div class="form-group">
        <div class="label-container">
          <label for="password">Contraseña:</label>
        </div>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="register.password" name="password">
        @if (passwordError) {
          <span class="error-message">La contraseña debe tener al menos 8 caracteres.</span>
        }
      </div>

      <a class="link-signin" routerLink="/signin">¿Ya tienes una cuenta? Inicia sesión</a>
      <button class="btn-register" (click)="validarFormulario()">Registrarse</button>
    </div>
    <div *ngIf="registroExitoso" class="success-message">
      Registro exitoso!
    </div>
  </div>
  <div class="toast" *ngIf="showAlreadyAddedToast">
    Usuario ya existe
  </div>

  <div class="toast" *ngIf="showInvalidCredentialsToast">
    Credenciales no válidas
  </div>
</div>


