
<app-searchbar textoplaceholder="Selecciona tu Restaurante"></app-searchbar>
<group-cardgroup>
  <div *ngFor="let restaurant of restaurants; let i = index;" role="list">
    <ng-container *ngIf="i < restaurants.length - 2">
      <app-cardmain
        [maxWidth]="80"
        [maxHeight]="30"
        starcount="0"
        [sourceimage]="restaurant.imagen"
        [title]="restaurant.nombre"
        [price]="restaurant.mustTry"
        [ubicacion]="restaurant.cuisines"
        [descripcion]="restaurant.locationCost ? restaurant.locationCost : ''"
        buttontext="Seleccionar">
      </app-cardmain>
    </ng-container>
  </div>
</group-cardgroup>
