<div class="filters">
  <app-searchbar textoplaceholder="Busca tu restaurante"
                (searchChanged)="searchHandler($event)"></app-searchbar>
  <app-main-filter (valuesChangedInFilter)="getValues($event)" title="por platos"></app-main-filter>
</div>

<group-cardgroup>
  @for (restaurant of filteredRestaurants.length > 0 ? filteredRestaurants :restaurants; track restaurant.name) {
    <app-cardmain
        starcount="5"
        [sourceimage]="restaurant.imagePath"
        [title]="restaurant.name"
        [price]="restaurant.mustTry"
        [descripcion]="restaurant.locationCost ? restaurant.locationCost : ''"
        tipo="restaurant"
        buttontext="Seleccionar">
      </app-cardmain>
    }
    @empty {
      <p>Cargando...</p>
    }
</group-cardgroup>
