h2 {
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombreado oscuro */
  margin-bottom: 0;

}
.titulo{
  display: flex;
  text-align: left;
  justify-content: left;
  margin-right: auto;
  margin-bottom: 0;
}
.fila{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 27px;
  justify-content: center;
  width: 100%;
  height: auto;
}
.ReservarTodo, .ReservaSeleccionado{
  font-size: 1.2em;
  font-weight: bold;
  color: #f1e2e2;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #0056b3;
  border-radius: 1vh;
  transition: all 0.3s ease;
  padding: 1vh;
  width: 40%; /* Reducir el ancho para que los botones quepan uno al lado del otro */
  height: 6vh;
  margin-right: 10px;
}
.ReservarTodo:hover, .ReservaSeleccionado:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  cursor:pointer;
  background-color: #cdcdcd;
  color:#0056b3;
}
