<h1>Tu carro de Compras</h1>
<group-cardgroup>
  @for (item of items; track item.name) {
    <app-card-shopcar
      [title]="item.title"
      [price]="item.price"
      [sourceimage]="item.sourceimage"
      buttonText="Eliminar"
    ></app-card-shopcar>
  }
</group-cardgroup>
<div class="fila">
  <button class="ReservarTodo" (click)="ReservarTodo()"
          routerLink="../reservation" >Reservar Todo</button>
  <button class="ReservaSeleccionado" (click)="ReservaSeleccionado()"
          routerLink="../reservation" >Reserva Seleccionado</button>
</div>
