<div class="filters">
  <app-searchbar textoplaceholder="Busca tu alojamiento"
               (searchChanged)="searchHandler($event)"></app-searchbar>
  <app-main-filter (valuesChangedInFilter)="getValues($event)" title="por noche"></app-main-filter>
</div>


<group-cardgroup>
  @for (accommodation of filteredAccomodations.length > 0 ? filteredAccomodations : accomodations; track accommodation.name) {

    <app-cardmain
      starcount="5"
      [sourceimage]="accommodation.imagePath"
      [title]="accommodation.name"
      [price]="accommodation.price"
      [ubicacion]="accommodation.ubicacion"
      [descripcion]="accommodation.description ? accommodation.description : ''"
      tipo="restaurant"
      buttontext="Seleccionar">
    </app-cardmain>

  } @empty {
    <p>Cargando... (Esto podría tardas unos segundos)</p>
  }
</group-cardgroup>
