
<div class="contenedor active" id="contenedor">
    <div id="background"></div>
    <div class="container">
        <div class="registration">
            <h2 class="title">Inicio de sesión</h2>
            <p class="description">Ingresa tus credenciales.</p>

            <div class="form-group">
                <div class="label-container">
                    <label for="email">Correo electrónico:</label>
                </div>
                <input type="email" id="email" placeholder="Ingresa tu correo electrónico" [(ngModel)]="signin.email">
                @if (emailError) {
                    <span class="error-message">Ingrese un correo electrónico válido.</span>
                }
            </div>

            <div class="form-group">
                <div class="label-container">
                    <label for="password">Contraseña:</label>
                </div>
                <input type="password" id="password" placeholder="Ingresa tu contraseña">
                @if (passwordError) {
                    <span class="error-message">La contraseña debe tener al menos 8 caracteres.</span>
                  }
            </div>
            <button class="btn-register" (click)="validarFormulario()">Iniciar sesión</button>
        </div>
    </div>
</div>
