.container {
  margin: 0 auto;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.dropdown-filter {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

h1 {
  margin-bottom: 0;
}
@media screen and (max-width: 868px) {
  .filter-container{
    flex-direction: column;
    align-items: center;
  }
  .slider-container {
    flex-direction: column;
    align-items: center;
  }
  .cards-container {
    flex-direction: column;
    gap: 20px;
  }
  .dropdown-filter{
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
