.container {
  margin: 0 auto;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin-bottom: 0;
}
