
.cardmain {
  background-color: white;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.1),
    0px -3px 5px rgba(0, 0, 0, 0.1),
    3px 0px 5px rgba(0, 0, 0, 0.1),
    -3px 0px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 3.5fr;
  padding: 2.3%;
  grid-column-gap: 1vw;
  max-height: 25vw;
  max-width: 30vw;
  border-radius: 20px;
}
.imagecontainer{
  grid-column-start: 1;
  grid-column-end: 2;
  max-height: 100%;
  max-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:auto;
  margin-bottom: auto;
  height: 90%;
  width: 100%;

}
.textcontain {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-areas:
            "a a f"
            "b . ."
            "c . ."
            "d d d"
            ". . e";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.30fr 0.15fr 0.03fr 1fr 0.5fr;

}

.title {
  grid-area: a;
  font-size: 1.6rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: left;
}

.svgclass {
  grid-area: b;
  display: flex;
  flex-direction: row;
  margin-top:0;
  padding-top: 0;
  gap: 0.2vw;
  align-items: center;
}

.mat-subtitle-1 {
  grid-area: c;
  padding:0;
  margin:0;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  align-self: start;
  font-size: 1rem;

}

.description {
  grid-area: d;
  line-height: 1.5;
  font-size: 0.9rem;

}

.boton {
  grid-area: e;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  cursor: pointer;
}
.price {
  grid-area: f;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  order: 1;
  color: black;
  text-shadow: 1px 1px 3px rgba(207, 139, 64, 0.22);
  font-size: 1.5em;
}


@media screen and (max-width: 768px) {
  .price {
    font-size: 1.2em;
  }
}

@media (max-width: 1547px) {
  .cardmain {
    max-height: 100%;
    max-width: 50vw;
  }
  .cardmain {
    grid-template-columns: auto 3.5fr;
    padding:0;
    grid-column-gap: 1vw;
    max-height: 20vw;
    max-width: 30vw;
  }
}
/*1427 */
@media (max-width: 839px) {
  .cardmain {
    max-height: 20vw;
    width: 100vw;
  }
  .imagecontainer{
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: 20vw;
    max-width: 40%;
  }
  .title {
    grid-area: a;
    font-size: 1em;
  }
  .imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:auto;
    margin-bottom: auto;
    height: 50%;
    width: 100%;
  }
}


