
<div class="cardmain" [style.max-width.vw]="maxWidth">
  <div class="imagecontainer">
    <img class="imagen" [src]="sourceimage" alt="Imagen">
  </div>
  <div class="textcontain">
    <span class="title">{{ title }}</span>
    <div class="svgclass" >
      @for (i of getStarIndices(starcount); track i) {
    <app-starsvg></app-starsvg>
    } @empty {
    <span>No stars</span>
  }
    </div>
    <span class="price">{{price}}</span>
    <h4 class="mat-subtitle-1">{{ubicacion}}</h4>
    <p class="description"> {{ descripcion }} </p>
    <button class="boton">{{ buttontext }}</button>
  </div>
</div>




