/*
<div class="cardmain" [style.max-width.vw]="maxWidth">
  <img src="{{sourceimage}}}" alt="Imagen">
  <span class="title">{{ title }}</span>
  <svg class="mat-icon"></svg>
  <h4 class="mat-subtitle-1">{{ubicacion}}</h4>
  <p class="description"> {{ descripcion }} </p>
  <button class="accept">{{ buttontext }}</button>
</div>

*/
.cardmain {
  background-color: white;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.1), /* Sombra superior */
    0px -3px 5px rgba(0, 0, 0, 0.1), /* Sombra inferior */
    3px 0px 5px rgba(0, 0, 0, 0.1), /* Sombra derecha */
    -3px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra izquierda */
  display: grid;
  grid-template-columns: 1fr 3.7fr;
  padding: 3%;

}

.img{
  grid-column-start: 1;
  grid-column-end: 2;
}
.textcontain {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-areas:
            "a a f"
            "b . ."
            "c . ."
            "d d d"
            ". . e";

}

.title {
  grid-area: a; /* Ocupa el área 'title' */
  font-size: 1.6rem;
  max-width: 100%;
  max-height: 100%;

}

.svgclass {
  grid-area: b; /* Ocupa el área 'icon' */
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top:0;
  padding-top: 0;
  gap: 0.2vw;
}

.mat-subtitle-1 {
  grid-area: c; /* Ocupa el área 'ubicacion' */
  padding: 10px;

}

.description {
  grid-area: d; /* Ocupa el área 'description' */

}

.boton {
  grid-area: e; /* Ocupa el área 'accept' */

}
.price{
  grid-area: f;

}
