
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente */
  color: white; /* Color del texto */
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  font-size: 16px;
  animation: slideIn 0.5s ease forwards, fadeOut 2.5s ease forwards; /* Animaciones de entrada y salida */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -80%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}






.cardmain {
  display:grid;
  background-color: white;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.1),
    0px -3px 5px rgba(0, 0, 0, 0.1),
    3px 0px 5px rgba(0, 0, 0, 0.1),
    -3px 0px 5px rgba(0, 0, 0, 0.1);
  grid-template-columns: auto 3.5fr;
  padding: 2.3%;
  grid-column-gap: 1vw;

  border-radius: 20px;

  width: 80vw;
  height: 32vh;
  grid-template-areas: "imagecontainer text";
}
.imagecontainer{
  grid-column-start: 1;
  grid-column-end: 2;
  max-height: 100%;
  max-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area:imagecontainer;
}
.imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:auto;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.textcontain {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-areas:
            "a a f"
            "b . ."
            "c . ."
            "d d d"
            ". . e";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.30fr 0.15fr 0.03fr 1fr 0.5fr;
  grid-area:text;
}

.title {
  grid-area: a;
  font-size: 1.6rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: left;
}

.svgclass {
  grid-area: b;
  display: flex;
  flex-direction: row;
  margin-top:0;
  padding-top: 0;
  gap: 0.2vw;
  align-items: center;
}

.mat-subtitle-1 {
  grid-area: c;
  padding:0;
  margin:0;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  align-self: start;
  font-size: 1rem;

}

.description {
  grid-area: d;
  line-height: 1.5;
  font-size: 0.9rem;

}

.boton {
  grid-area: e;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  cursor: pointer;
}
.price {
  grid-area: f;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  order: 1;
  color: black;
}

@media (max-width: 1540px) {
  .textcontain {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-areas:
            "a a f"
            "b b c"
            "b b c"
            "d d d"
            "d d .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.30fr 0.15fr 0.03fr 1fr 0.5fr;

  }

  .title {
    font-size: 1.3em;
  }
  .svgclass {
    margin-bottom:1vw;
  }

  .cardmain {
    height: auto;
    max-width: 100%;
  }

  .boton {
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .description{
    font-size: 0.7rem;
  }
  .imagecontainer{
    display: none;
  }
}
@media (max-width: 1122px) {
  .boton {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 30%;
    max-height: 80%;
  }
}
@media (max-width: 1089px) {
  .cardmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:10px;
  }
  .title{
    margin-top:2vw;
  }
  .boton {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50%;
    width: 100%;
    grid-area:d;
    margin-right: 1%;
    margin-left: 1%;
  }
  .description{
    display: flex;
    grid-area:e;
    text-overflow: ellipsis;
  }
  .textcontain {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-areas:
            "a a a"
            "b c ."
            "e e e"
            ". d .";
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
  }
  .price{
    display: none;
  }

}
@media screen and (max-width: 768px) {
  .cardmain {
    display:grid;
    grid-column-gap: 1vw;
    max-width: 100vh;
    border-radius: 6px;
    grid-template-columns: 100%;
    grid-template-rows:0.4fr 0.2fr 0.6fr 1fr 0.3fr;
    align-items: center;
    width: 80vw;
    height: 100vh;
    grid-gap: 1vh;
    margin:0;
    padding:0;
    grid-template-areas: "linea1" "linea2" "descripcion" "imagen" "boton";

  }
  .linea{
    display: grid;
    grid-area:linea1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100%;
    grid-template-areas:"mathiasjade barbara";
    padding:1vh;
    justify-items: center;
    align-items: center;

  }
  .linea2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100%;
    grid-area:linea2;
    grid-template-areas:"mathiasjade1 .";

  }
  .imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 20vh;
    border-radius: 20%;
    grid-area:imagen;
    margin-left: auto;
    margin-right:auto;
  }
  .title {
    font-size: 1.3rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    grid-area:mathiasjade;
    margin-right: auto;
  }

  .mat-subtitle-1 {
    padding: 0;
    margin: 10px;
    display: none;
    font-size: 0.6rem;
    grid-area:mathiasjade1;
  }

  .description {
    line-height: 1.5;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.9rem;
    display: flex;
    grid-area:descripcion;

  }

  .boton {
    padding: 1vh;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    grid-area:boton;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
  }

  .price {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2%;
    font-size: 0.9em;
    font-weight: bold;
    grid-area: barbara;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 1vh;
  }
}




