@if (!isMobileView){
<div class="cardmain" [style.width.vw]="80" [style.height.vh]="30">
  <div class="imagecontainer">
    <img class="imagen" [src]="sourceimage" alt="Imagen">
  </div>
  <div class="textcontain">
    <span class="title">{{ title }}</span>
    <div class="svgclass" >
      @for (i of getStarIndices(starcount); track i) {
    <app-starsvg></app-starsvg>
    } @empty {
    <span></span>
  }
    </div>
    <span class="price">{{price}}</span>
    <h4 class="mat-subtitle-1">{{ubicacion}}</h4>
    <p class="description"> {{ descripcion }} </p>
    <button class="boton" (click)="GuardarEnCarrito()">{{ buttontext }}</button>
  </div>
</div>
}
@else {
  <div class="cardmain" [style.max-width.vw]="maxWidth" [style.max-height.vh]="80">
    <div class="linea">
      <span class="title">{{ title }}</span>
      <span class="price">{{price}}</span>
    </div>
    <div class="linea2">
      <h4 class="mat-subtitle-1">{{ubicacion}}</h4>
    </div>
    <p class="description"> {{ descripcion }} </p>
    <img class="imagen" [src]="sourceimage" alt="Imagen">
    <button class="boton" (click)="GuardarEnCarrito()">{{ buttontext }}</button>
  </div>
}
<div class="toast" *ngIf="showAddedToCartToast">
  Se ha agregado al carrito
</div>

<div class="toast" *ngIf="showAlreadyAddedToast">
  Este elemento ya ha sido agregado al carrito
</div>



