
.cardmain {
  background-color: white;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.1),
    0px -3px 5px rgba(0, 0, 0, 0.1),
    3px 0px 5px rgba(0, 0, 0, 0.1),
    -3px 0px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 3.5fr;
  padding: 2.3%;
  grid-column-gap: 1vw;
  max-height: 30vw;
  max-width: 30vw;
  border-radius: 20px;
}
.imagecontainer{
  grid-column-start: 1;
  grid-column-end: 2;
  max-height: 100%;
  max-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:auto;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.textcontain {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-areas:
            "a a f"
            "b . ."
            "c . ."
            "d d d"
            ". . e";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.30fr 0.15fr 0.03fr 1fr 0.5fr;

}

.title {
  grid-area: a;
  font-size: 1.6rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: left;
}

.svgclass {
  grid-area: b;
  display: flex;
  flex-direction: row;
  margin-top:0;
  padding-top: 0;
  gap: 0.2vw;
  align-items: center;
}

.mat-subtitle-1 {
  grid-area: c;
  padding:0;
  margin:0;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  align-self: start;
  font-size: 1rem;

}

.description {
  grid-area: d;
  line-height: 1.5;
  font-size: 0.9rem;

}

.boton {
  grid-area: e;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  cursor: pointer;
}
.price {
  grid-area: f;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  order: 1;
  color: black;
  text-shadow: 1px 1px 3px rgba(207, 139, 64, 0.22);
  font-size: 1.5em;
}



@media (max-width: 1540px) {
  .textcontain {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-areas:
            "a a f"
            "b b c"
            "b b c"
            "d d d"
            "d d .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.30fr 0.15fr 0.03fr 1fr 0.5fr;

  }

  .title {
    font-size: 1.3em;
  }
  .svgclass {
    margin-bottom:1vw;
  }

  .cardmain {
    height: auto;
    max-width: 100%;
  }

  .boton {
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .description{
    font-size: 0.7rem;
  }
  .imagecontainer{
    display: none;
  }
}
@media (max-width: 1122px) {
  .boton {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 30%;
    max-height: 80%;
  }
}
@media (max-width: 1089px) {
  .cardmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:10px;
  }
  .title{
    margin-top:2vw;
  }
  .boton {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50%;
    width: 100%;
    grid-area:d;
    margin-right: 1%;
    margin-left: 1%;
  }
  .description{
    display: flex;
    grid-area:e;
    text-overflow: ellipsis;
  }
  .textcontain {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-areas:
            "a a a"
            "b c ."
            "e e e"
            ". d .";
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
  }
  .price{
    display: none;
  }

}
@media (max-width: 1079px){
.boton{
  display: none;
}
}
@media (max-width: 808px){
  .description{
    display: none;
  }
  .boton{
    display: flex;
  }
  .cardmain{
    display: flex;
  }
  .textcontain{
    display: flex;
  }
  .imagecontainer{
    display: block;
  }
  .svgclass{
    display: none;
  }
}
@media (max-width: 500px) {
  .cardmain {
    display: grid;
    max-height: 100vw;

  }
  .textcontain {
    display: grid;
    grid-area: contenido;
    grid-template-areas: "title price" "place ." "description description" "imagen imagen" "button button";
    grid-template-columns: 1fr 0.5fr;

  }

  .title {
    grid-area: title;
    font-size: 0.8em;
    line-height: 1;
  }

  .price {
    display: flex;
    grid-area: price;
    flex-wrap: wrap;
    font-size: 0.7rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-subtitle-1 {
    display: flex;
    font-size: 0.58rem;
    grid-area: place;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    justify-content: left;
    margin-right: auto;
  }

  .description {
    display: flex;
    font-size: 0.5rem;
    grid-area: description;
    justify-content: center;
    width: 100%;
    margin:0;

  }

  .imagecontainer {
    display:grid;
    grid-area: imagen;
    justify-content: center; /* Centrar horizontalmente */

  }

  .imagen {
    display:grid;
    max-width: 100%; /* Ensure image fits within container */
    height: 120px; /* Ensure image fits within container */
    grid-area: imagen;
    margin-top:42vw;
    margin-right: 30vw;
    margin-left: 30vw;
    border-radius: 30px;
  }

  .boton {
    display: flex;
    grid-area: button;
    width: 55%;
    height: 30%;
    padding: 0;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    letter-spacing:0.06em;
  }
}




