

<h1>Mis viajes</h1>
<mat-card class="myjourneyscard">
    <div class="image-container">
        <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/025/871/531/original/travel-destination-background-and-template-design-with-travel-destinations-and-famous-landmarks-and-attractions-for-tourism-let-s-go-travel-illustration-vector.jpg">
        <h2 class="image-title">Lima-Peru</h2>
    </div>
    <mat-card-actions>
      <button class="action-button" (click)="vistaItinerary()"><span>Ver Itinerario</span></button>
    </mat-card-actions>
</mat-card>
