
.center-elements h1 {
  margin-bottom: 20px;
  margin-top: 180px;
  font-family: Roboto, Asap;
  font-size: 4rem;
  text-align: center;
  line-height: 1.5;
}
.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.center-elements .button-form {
  width: 100%;
  max-width: 300px;
  background-color: black;
  color: white;
  //separa los botones
  margin-top: 20px;
}

@media screen and (max-width: 668px) {
  .center-elements h1 {
    font-size: 3rem;
    text-align: center;
  }

  .center-elements .button-form {
    width: 80%;
  }
}
