.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.center-elements p {
  margin-bottom: 6rem;
  margin-top: 18rem;
  font-family: Roboto, Asap;
  font-size: 5rem;
}

