<app-searchbar textoplaceholder="Busca tu vuelo" (searchChanged)="searchHandler($event)"></app-searchbar>
<group-cardgroup>
  @for (flight of filteredFlights.length > 0 ? filteredFlights : flights; track flight.nombre) {
    <app-cardmain
      [maxWidth]="80"
      [maxHeight]="30"
      starcount="5"
      [price]="flight.precio"
      [sourceimage]="flight.imagen"
      [title]="flight.nombre"
      [ubicacion]="flight.tipo"
      buttontext="Seleccionar">
    </app-cardmain>
  }
  @empty {
    <p>Cargando...</p>
  }
</group-cardgroup>
