<div class="filters">
  <app-searchbar textoplaceholder="Busca tu vuelo" (searchChanged)="searchHandler($event)"></app-searchbar>
  <app-main-filter (valuesChangedInFilter)="getValues($event)" title="Vuelos"></app-main-filter>
</div>

<group-cardgroup>
  @for (flight of filteredFlights.length > 0 ? filteredFlights : flights; track flight.nombreAerolinea) {
    <app-cardmain
      starcount="5"
      [price]="flight.precio"
      [sourceimage]="flight.imagePath"
      [title]="flight.nombreAerolinea"
      [descripcion]="flight.descripcion ? flight.descripcion : ''"
      tipo="restaurant"
      buttontext="Seleccionar">
    </app-cardmain>
  }
  @empty {
    <p>Cargando...</p>
  }
</group-cardgroup>

