
<app-searchbar textoplaceholder="Selecciona tu Vuelo"></app-searchbar>

<group-cardgroup>
  @for (flight of flights; track flight.nombre) {
    @if ((flights.length)-(flights.length-1) < flights.length - 1) {
      <app-cardmain
        [maxWidth]="80"
        [maxHeight]="30"
        starcount="5"
        [price]="flight.duracion"
        [sourceimage]="flight.imagen"
        [title]="flight.nombre"
        [ubicacion]="flight.ubicacion"
        [descripcion]="flight.duracion ? flight.duracion : ''"
        buttontext="Seleccionar">
      </app-cardmain>    }
  } @empty {
    <p>Cargando...</p>
  }
</group-cardgroup>
