<div class="container">
  <h1>Quien esta reservando?</h1>
  <div class="input-group">
    <div class="field">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre">
    </div>
    <div class="field">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido">
    </div>
  </div>
  <div class="input-group1">
    <label for="telefono">Numero de telefono:</label>
    <input type="text" id="telefono">

  </div>
</div>

<!-- Código agregado -->

<div class="container1">

  <h1>Método de pago</h1>
  <div class="input-group1">
    <div class="field">
      <label for="nombreTarjeta">Nombre en tarjeta:</label>
      <input type="text" id="nombreTarjeta">
    </div>
    <div class="field">
      <label for="numeroTarjeta">Número de tarjeta de débito/crédito:</label>
      <input type="text" id="numeroTarjeta">
    </div>
  </div>
  <div class="input-group">
    <div class="field">
      <label for="mes">Mes:</label>
      <input type="text" id="mes">
    </div>
    <div class="field">
      <label for="ano">Año:</label>
      <input type="text" id="ano">
    </div>
  </div>
  <div class="input-group">
    <div class="field">
      <label for="codigoSeguridad">Código de seguridad:</label>
      <input type="text" id="codigoSeguridad">
    </div>
    <div class="field">
      <label for="codigoPostal">Código postal:</label>
      <input type="text" id="codigoPostal">
      <br><br><br>
    </div>
  </div>
</div>

<div class="container1">
  <h1>Política de cancelación</h1>

  <div class="text">
    <p>
      Cancelaciones o cambios hechos antes de las 11:59 pm del 08 de abril de 2024 están sujetas a una tarifa equivalente a la tarifa de la primera noche más impuestos y cargos<br> <br> <br>

    </p>
  </div>


</div>



<button type="button">Confirmar reserva</button>



<div class="container3">
  <h1>Detalles del precio</h1>

  <div class="input-group3">
    <label for="room">Precio:</label>
    <input type="text" id="room" value=" " >
  </div>

  <div class="input-group3">

    <label for="taxes">Impuestos:</label>
    <input type="text" id="taxes" value="Incluidos" readonly >

  </div>
  <div class="input-group3">

    <label for="taxes1">Impuestos locales:</label>
    <input type="text" id="taxes1" value=" " >

  </div>

  <div class="input-group3">

    <label for="total">Total:</label>
    <input type="text" id="total" value="S/ " >

  </div>
  <div class="input-group3">
    <label>Usar cupón o código de descuento:<br><br></label>

  </div>

</div>

