.spacer {
  flex: 1 1 auto;
}
.ochenta{
width: 80%;
}
.veinte{
  width:20%;
  display:flex;
  justify-content: right;
  margin-right: 2vw;
}

.mat-toolbar {
  margin: 0;
  padding: 0;
  height: auto;
}

